* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.download_button, .delete_button, .click_button, .report_button {
    height: 20px;
    font: 14px "微软雅黑", Arial, Helvetica, sans-serif;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #e3873e;
    border-radius: 10px;
    color: #e3873e;
    box-sizing: border-box;
    cursor: pointer;
}

.button-active, .delete_button:hover, .download_button:hover, .click_button:hover, .report_button:hover {
    background-color: #e3873e;
    color: #fff;
}

.button {
    margin-bottom: 10px;
}
form {
    display: inline-block;
}