:root {
    --plyr-color-main: #f4c367;
}
img {
    width: 100%;
}
.main {
    width: 810px;
    margin: auto;
}
.song {
    width: 810px;
    margin: 0 auto 20px auto;
}
.song>img {
    box-shadow: 0 0 10px 0 #9a9696;
}
.container1 {
    width: 500px;
    margin: 0 auto 20px auto;
}

.container1 img {
    margin-bottom: -6px;
}

.container2 {
    width: 810px;
    margin: 0 auto 20px auto;
}
.plyr {
    border-radius: 4px;
    margin-bottom: 15px;
}
.shadow {
    box-shadow: 0 0 10px 0 #9a9696;
}
.info {
    height: 250px;
    margin-bottom: 20px;
    position: relative;
}

.info .info-avatar {
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 #9a9696;
    background-color: #fff;
}

.info .info-avatar > img {
    width: 100%;
    height: 100%;
}

.info .info-content {
    float: left;
    position: absolute;
    top: 50%;
    left: 270px;
    transform: translate(0, -50%);
}

.info .info-content h1 {
    font-weight: normal;
    margin-bottom: 5px;
}

.info .info-content h5 {
    font-weight: normal;
    margin-bottom: 5px;
}
.nav-top {
    position: fixed;
    top: 70%;
}

.Comment_header {
    height: 30px;
    line-height: 30px;
    padding-bottom: 10px;
}

.Comment_header > img {
    float: left;
    height: 100%;
    width: auto;
}

.Comment_header > span {
    margin-left: 5px;
}