<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style1", "button" %>
<% end %>
<p style="color: green"><%= notice %></p>
<div style="width:1200px;margin:auto;text-align:center;">
<h1>Manipulators</h1>

<div id="manipulators" style="padding-bottom:10px;">
  <% @manipulators.each do |manipulator| %>
    <%= render manipulator %>
  <% end %>
</div>
<div style="padding-bottom:10px;">
  <%= link_to "Back to reports", reports_path, class:"click_button" %>
</div>
</div>
